.dashboard {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.dashboard h1, h2 {
    color: #333;
    text-align: center;
    margin: 1rem 0;
}
.dashboard .stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.dashboard .stat-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 200px;
}
.dashboard .stat-card h3 {
    margin: 0;
    color: #555;
}
.dashboard .stat-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #007bff;
}
.dashboard .appointments {
    background-color: #f9f9f9;
    border-radius: 5px;
}
.dashboard table {
    width: 100%;
    border-collapse: collapse;
}
.dashboard th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
.dashboard th {
    background-color: #007bff;
    color: white;
}
.dashboard tr:nth-child(even) {
    background-color: #f2f2f2;
}
.dashboard .status {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: xx-small;
}
.dashboard .pending {
    background-color: #ffc107;
    color: #000;
}
.dashboard .confirmed {
    background-color: #28a745;
    color: #fff;
}
.dashboard .canceled {
    background-color: #dc3545;
    color: #fff;
}
.dashboard .paiCadastroFuncionario{
    display: flex;
    gap: 1rem;
    align-items: center;
}
/* Status de Serviços e Funcioários */
.containerStatus {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.containerStatus h1 {
    color: #333;
    text-align: center;
    font-size: 24px;
}
.containerStatus table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.containerStatus th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.containerStatus th {
    background-color: #312f2f;
    font-weight: bold;
}
.containerStatus .status {
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}
.containerStatus .disponivel {
    background-color: #d4edda;
    color: #155724;
}
.containerStatus .ocupado {
    background-color: #f8d7da;
    color: #721c24;
}
.containerStatus select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.containerStatus button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.containerStatus button:hover {
    background-color: #45a049;
}
.containerStatus .filter-container {
    margin-bottom: 20px;
}
.containerStatus .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
}
.containerStatus .card-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.containerStatus .card-content {
    margin-bottom: 10px;
}
.containerStatus .hidden {
    display: none;
}

@media (min-width: 768px) {
    .containerStatus .card {
        display: none;
    }
    .containerStatus table {
        display: table;
    }
}

@media (max-width: 767px) {
    .containerStatus table {
        display: none;
    }
    .containerStatus .card {
        display: block;
    }
}


/* Estilos para dispositivos móveis */
@media (max-width: 768px) {

    .dashboard .stats {
        flex-direction: column;
        align-items: center;
    }

    .dashboard .stat-card {
        width: 100%;
        margin-bottom: 15px;
    }

    .dashboard table, .dashboard th, .dashboard td {
        font-size: 12px;
    }

    .dashboard th, td {
        padding: 8px;
    }
    .dashboard .paiCadastroFuncionario{
        flex-direction: column;
    }
}