/* Agendamentos */
h1 {
    text-align: center;
    color: #2c3e50;
}
.service-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"], input[type="date"], input[type="time"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    height: 100px;
    resize: vertical;
}
.botaoAgendamento {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
.image-preview {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.error {
    color: red;
    font-size: 14px;
}
 /* Solicitações */
:root {
--primary-color: #3498db;
--secondary-color: #2ecc71;
--background-color: #f5f7fa;
--text-color: #34495e;
}

.container, #app{
max-width: 1200px;
margin: 0 auto;
}

.container h1 {
margin: 0;
}

.container .tabs {
display: flex;
justify-content: center;
margin-top: 20px;
}

.container .tab {
padding: 10px 20px;
background-color: #e0e0e0;
border: none;
cursor: pointer;
transition: background-color 0.3s;
}

.container .tab.active {
background-color: var(--secondary-color);
color: white;
}

.container .panel {
background-color: white;
border-radius: 5px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
margin-top: 20px;
padding: 20px;
}

.container table {
width: 100%;
border-collapse: collapse;
}

.container th, .container td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #e0e0e0;
}
.idServico {
    max-width: 50px; /* Defina a largura máxima da célula */
    white-space: nowrap; /* Impede que o texto quebre para a linha seguinte */
    overflow: scroll; /* Adiciona o scroll se o conteúdo for maior que a célula */
    text-overflow: ellipsis; /* Adiciona "..." no final se o conteúdo for muito grande */
}


.container th {
background-color: var(--primary-color);
color: white;
}

.container .status {
padding: 5px 10px;
border-radius: 20px;
font-weight: bold;
}

.container .status-pending {
background-color: #f39c12;
color: white;
}

.container .status-in-progress {
background-color: #3498db;
color: white;
}

.container .status-completed {
background-color: #2ecc71;
color: white;
}

@keyframes pulse {
0% { transform: scale(1); }
50% { transform: scale(1.05); }
100% { transform: scale(1); }
}

.container .new-request {
background-color: var(--secondary-color);
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s;
margin-top: 20px;
animation: pulse 2s infinite;
}

.container .new-request:hover {
background-color: #27ae60;
}
