*{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
:root{
  --cor-backeground: rgba(250, 235, 215, 0.363);
  --cor-titulos: rgb(173, 8, 8);
  --cor-botoes: rgb(206, 124, 56);
}
.menu {
  position: relative;

  display: flex;
  flex-direction: column;
}
.menu-botao {
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.listaMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.listaMenu li {
  margin: 10px 0;
  text-align: center;
  padding: .3rem;
  border-radius: 50px;
  border: 1px solid rgb(241, 169, 169);
  cursor: pointer;
}
.listaMenu li a {
  text-decoration: none;
  color: var(--cor-titulos);
  font-weight: 300;
}
.listaMenu.aberto {
  max-height: 500px; /* Altura máxima ajustável, dependendo do número de itens */
  opacity: 1;
}
/* Cabeca */
.cabecaInicial{
  height: 15rem;
  background-color: var(--cor-backeground);
  background-image: url(./assets/background-header-md.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cabecaInicial > h1 {
  color: white;
  text-align: center;
  width: 80%;
}
.cabecaInicial > p {
  color: white;
}
.cabecaInicial > button{
  padding: .5rem 3rem;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  color: rgb(237, 238, 243);
  font-weight: bold;
  font-size: 16px;
  transition: all .5s;
  cursor: pointer;
}
.cabecaInicial > button:hover{
  background-color: var(--cor-botoes);
  border: none;
  transform: scale(105%);
}
/* Corpo */
.corpo {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-backeground);
}
.corpo > #cards-servicos{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
}
.corpo > #cards-servicos > h2 {
  color: var(--cor-titulos);
  font-size: 18px;
}
.corpo > #cards-servicos > .service{
  padding: 1rem;
  border: 1px solid red;
  margin: .5rem;
}
/* Servicos */
.service h3 {
  font-weight: 300;
}
.service p {
  font-weight: 100;
}
.service hr {
  margin: .8rem 0 .8rem 0;
  color: rgb(218, 154, 154);
}
.service h4 {
  margin-bottom: .8rem;
  font-size: 20px;
  color: rgb(182, 48, 48);
}
.service button {
  margin: auto;
  display: block;
  padding: .5rem 3rem;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid rgb(236, 6, 6);
  color: rgb(99, 0, 0);
  font-weight: 100;
  font-size: 16px;
  transition: all .5s;
}
.service button:hover{
  background-color: var(--cor-botoes);
  color: white;
}
/* Sobre */
#sobre {
  display: flex;
  flex-direction: column;
}
#sobre .imagemParalax{
  height: 30dvh;
  background-color: black;
  background-image: url(./assets/background-sobre-md.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sobre > .sobreDetalhes {
  padding: 1rem;
}
.sobreDetalhes h2{
  color: var(--cor-titulos);
  font-weight: 500;
}
.sobreDetalhes p {
  color: var(--cor-titulos);
  font-weight: 200;
  line-height: 1.5rem;
}
.sobreDetalhes button {
  padding: .5rem 3rem;
  margin-top: 2rem;
  background-color: transparent;
  border: 1px solid rgb(236, 6, 6);
  border-radius: 50px;
  color: rgb(99, 0, 0);
  font-weight: 100;
  font-size: 16px;
  transition: all .5s;
}
.sobreDetalhes button:hover{
  background-color: var(--cor-botoes);
  color: white;
  border: none
}
/* Avaliações */
#avaliacoes{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#avaliacoes > h2 {
  color: var(--cor-titulos);
  font-weight: 500;
}
.avaliacao {
  padding: 1rem;
}
.avaliacao > p{
  color: var(--cor-titulos);
  font-weight: 300;
}
.people {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.people > h3 {
  font-weight: 300;
  color: var(--cor-titulos);
}
.imagem-olhos{
  border: 2px solid black;
  border-radius: 50px;
}
.olhos {
  padding: .5rem;
  display: flex;
  flex-direction: row;
}
.olho {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
}
.bola {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
.star {
  font-size: 24px;
}
/* Contato */
#contato {
  border-radius: 10% 10% 0 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  clip-path: ellipse(65% 54% at 47% 54%);
  background-color: aliceblue;
}
#contato .informacoesContato {
  height: 35dvh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  color: var(--cor-titulos);
  margin-bottom: 3rem;
}
.informacoesContato h2 {
  font-weight: 500;
}
/* Navegador */
.icones {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  background-color: aliceblue;
}
.icones li {
  margin: .2rem;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icones li img {
  box-shadow: 0px 11px 15px 0px rgba(128, 128, 128, 0.678);
  border-radius: 50%;
}
/* Página de Login */
.paiLogin, .paiCadastro {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.login h1 {
  text-align: center;
  color: #1877f2;
}
.login form {
  display: flex;
  flex-direction: column;
}
.login input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  width: auto;
}
.login button {
  background-color: #1877f2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.login button:hover {
  background-color: #166fe5;
}
.login .register-link {
  text-align: center;
  margin-top: 20px;
}
.login a {
  color: #1877f2;
  text-decoration: none;
}
.login a:hover {
  text-decoration: underline;
}
.radios {
  display: flex;
  align-items: center;
  justify-content: center;
}
.radios > label{
  padding: 0;
  margin: 0;
}
/* Responsividade */
@media (max-width: 600px) {
  #contato {
      padding: 20px;
  }

  #contact-form {
      gap: 10px;
  }

  #contact-form button {
      width: 100%;
  }
  .nav.ativo {
    width: 100%;
  }
  .conteudo.ativo{
    display: none;
  }
}
